<!DOCTYPE html>
<html>
<head>
<title>Job Board</title>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
</head>
<div class= 'container'>
<div class= 'jumbotron'>
<body>
<h1>Post a Job:</h1>
</div>
<form action="/jobs" method="post">
  <label for="new-job-opening">Job Title:</label>
  <input id="new-job-opening" name="new-job-opening" type="text">

  <label for="new-description">Description:</label>
  <textarea class="form-control" id="new-description rows="3"></textarea>

  <label for="new-salary">Salary:</label>
  <input id="new-salary" name="new-salary" type="text">

  <label for="new-contact-person">Contact:</label>
  <input id="new-contact-person" name="new-contact-person" type="text">

  <button type="submit">Submit</button>
</form>
</body>
</div>
</html>
